<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    BPCE Timeline
  </title>
</head>

<body>
  <div id="AppContainer">
  </div>
</body>

<script src="<%= instanceUrl %>/lightning/lightning.out.js"></script>

<script>  
  let appName = "c:goccTimelineAppOut";  

  $Lightning.use(appName,
    function () {
      $Lightning.createComponent("c:goccTimelineGlobal", { 
        persons: "<%= persons %>",
        site: "<%= site %>",
        role: "<%= role %>",
        chart: "<%= chart %>",
        frameh: "<%= frameh %>",                      
        combo: "<%= combo %>"
      }, "AppContainer");
    }, 
    "<%= instanceUrl %>", 
    "<%= accessToken %>"
  );

</script>

</html>