<!DOCTYPE html>
<html lang="en">

<head>  
  <title>
    BPCE Timeline
  </title>  
</head>

<body>
  <div id="params">
    <ul>
      <li>persons: '<%- persons %>'</li>
      <li>site: '<%= site %>'</li>
      <li>role: '<%= role %>'</li>
      <li>chart: '<%= chart %>'</li>
      <li>frameh: '<%= frameh %>'</li>                    
      <li>combo: '<%= combo %></li>      
    </ul>
  </div>
  <div id="AppContainer">
  </div>
</body>

<script src="<%= instanceUrl %>/lightning/lightning.out.js"></script>

<script>  
  var appName = "c:goccTimelineAppOut";  

  $Lightning.use(appName,
    function () {
      $Lightning.createComponent("c:goccTimelineGlobal", { 
        persons: '<%- persons %>',
        site: '<%= site %>',
        role: '<%= role %>',
        chart: '<%= chart %>',
        frameh: '<%= frameh %>',                      
        combo: '<%= combo %>'
      }, "AppContainer");
    }, 
    "<%= instanceUrl %>", 
    "<%= accessToken %>"
  );

</script>

</html>